<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianqing.module.system.mapper.SysRoleMapper">

    <select id="selectEnabledRolesByUserId" resultType="com.jianqing.module.system.entity.SysRole">
        SELECT DISTINCT r.*
        FROM jq_sys_role r
        INNER JOIN jq_sys_user_role ur ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
          AND r.status = 1
          AND r.is_deleted = 0
    </select>

    <select id="countByRoleCode" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM jq_sys_role
        WHERE role_code = #{roleCode}
          AND is_deleted = 0
        <if test="excludeId != null">
            AND id != #{excludeId}
        </if>
    </select>

    <delete id="deleteUserRoleByRoleId">
        DELETE FROM jq_sys_user_role
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteRoleMenuByRoleId">
        DELETE FROM jq_sys_role_menu
        WHERE role_id = #{roleId}
    </delete>

    <select id="selectMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT menu_id
        FROM jq_sys_role_menu
        WHERE role_id = #{roleId}
        ORDER BY menu_id
    </select>

    <delete id="deleteRoleDeptByRoleId">
        DELETE FROM jq_sys_role_dept
        WHERE role_id = #{roleId}
    </delete>

    <select id="selectDeptIdsByRoleId" resultType="java.lang.Long">
        SELECT dept_id
        FROM jq_sys_role_dept
        WHERE role_id = #{roleId}
        ORDER BY dept_id
    </select>

    <insert id="batchInsertRoleMenu">
        INSERT INTO jq_sys_role_menu (role_id, menu_id)
        VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <insert id="batchInsertRoleDept">
        INSERT INTO jq_sys_role_dept (role_id, dept_id)
        VALUES
        <foreach collection="deptIds" item="deptId" separator=",">
            (#{roleId}, #{deptId})
        </foreach>
    </insert>

</mapper>
